node_modules

/.cache
/build
.env
.env.*

# Wrangler local state/cache
.wrangler/

# Local environment variables (Secrets)
.dev.vars

# Dependencies
node_modules/

# Build output
dist/

var.json
